---
import Layout from "../layouts/Layout.astro";
import bg01 from "../img/bg01.jpeg";
import bg02 from "../img/bg02.jpg";
import logoDSI from "../img/dsi_logo_sbg.png";
import logo3m from "../img/3M_logo.png";
import logoWistupiku from "../img/Wistupiku_Logo.png";
---

<Layout
	title="Desarrollo de Sistemas Integrados"
	description="DSI - Desarrollo de Sistemas Integrados ofrece servicios profesionales de Seguridad Industrial, Salud en el Trabajo, y Certificaciones en Bioseguridad. Nuestros servicios incluyen protocolos de Bioseguridad, simulacros COVID-19, programas de seguridad NTS 009, capacitaciones en bioseguridad y evacuación, monitoreos ocupacionales, y más. Nuestro objetivo es garantizar la satisfacción de nuestros clientes y ser líderes en el ámbito industrial y servicios en la región. Visítanos próximamente en nuestra nueva URL del sitio web."
	keywords="DSI, Desarrollo de Sistemas Integrados, Seguridad Industrial, Salud en el Trabajo, Certificaciones, Bioseguridad, Protocolos, Monitoreos Ocupacionales, Sistemas de Gestión, ISO 45001, ISO 14001, ISO 9001, ISO 22000, Informes Ambientales, Manifiestos Ambientales, Planes de Producción, Planes de Marketing, Análisis de Mercado"
	author="Desarrollo de Sistemas Integrados (DSI)"
>
	<main class="contenedor">
		<div class="main__title">
			<div class="main__grid--title">
				<div class="grid__title">
					<h1 class="heading">Desarollo de Sistemas Integrados</h1>
					<a href="#aboutUs" class="button">Nuestros servicios</a>
				</div>
				<div class="grid__slide">
					<div class="grid__slide--content">
						<p class="grid__slide--paragraph">
							Con mas de 10 años de experiencia, somos
							especialistas en <span
								>seguridad industrial, salud en el trabajo,
								certificaciones, bioseguridad, protocolos,
								monitoreos ocupacionales y sistemas de gestión.</span
							>
						</p>
					</div>
					<div class="grid__slide--controls">
						{`<>`}
					</div>
				</div>
			</div>
		</div>
		<!-- End main__title -->
		<div id="aboutUs" class="main__aboutUs">
			<h2 class="main__aboutUs--title subTitle">Nuestros servicios</h2>
			<div class="grid__services">
				<div class="grid__services--container">
					<div class="grid__containter--description">
						<div class="grid__container--icon">
							<i class="fa-solid fa-helmet-safety"></i>
						</div>
						<p class="grid__container--serviceName">
							Seguridad Industrial
						</p>
						<div class="grid__container--arrow">
							<i class="fa-solid fa-arrow-right"></i>
						</div>
					</div>
					<div class="grid__container--background">
						<img src={bg02} alt="Background servicio" />
					</div>
				</div>

				<div class="grid__services--container">
					<div class="grid__containter--description">
						<div class="grid__container--icon">
							<i class="fa-solid fa-helmet-safety"></i>
						</div>
						<p class="grid__container--serviceName">
							Consultoría y Construcción
						</p>
						<div class="grid__container--arrow">
							<i class="fa-solid fa-arrow-right"></i>
						</div>
					</div>
					<div class="grid__container--background">
						<img src={bg01} alt="Background servicio" />
					</div>
				</div>
				<div class="grid__services--container">
					<div class="grid__container--icon">
						<i class="fa-solid fa-helmet-safety"></i>
					</div>
					<p class="grid__container--serviceName">Marketing</p>
					<div class="grid__container--arrow">
						<i class="fa-solid fa-arrow-right"></i>
					</div>
				</div>
				<div class="grid__services--container">
					<div class="grid__container--icon">
						<i class="fa-solid fa-helmet-safety"></i>
					</div>
					<p class="grid__container--serviceName">
						Administración y Contabilidad
					</p>
					<div class="grid__container--arrow">
						<i class="fa-solid fa-arrow-right"></i>
					</div>
				</div>
				<div class="grid__services--container">
					<div class="grid__container--icon">
						<i class="fa-solid fa-helmet-safety"></i>
					</div>
					<p class="grid__container--serviceName">Diseño Gráfico</p>
					<div class="grid__container--arrow">
						<i class="fa-solid fa-arrow-right"></i>
					</div>
				</div>
				<div class="grid__services--container">
					<div class="grid__container--icon">
						<i class="fa-solid fa-helmet-safety"></i>
					</div>
					<p class="grid__container--serviceName">Certificaciones</p>
					<div class="grid__container--arrow">
						<i class="fa-solid fa-arrow-right"></i>
					</div>
				</div>
			</div>
		</div>
		<!--  End main__aboutUs -->
		<div id="clients" class="main__clients">
			<h2 class="main__clients--title subTitle">Nuestros clientes</h2>
			<div class="main__clients--slider">
				<div class="slider__container">
					<img class="slider__logo" src={logoDSI} alt="DSI logo" />
					<img class="slider__logo" src={logo3m} alt="3M logo" />
					<img
						class="slider__logo"
						src={logoWistupiku}
						alt="Wistupiku logo"
					/>
					<img class="slider__logo" src={logoDSI} alt="DSI logo" />
					<img class="slider__logo" src={logo3m} alt="3M logo" />
					<img
						class="slider__logo"
						src={logoWistupiku}
						alt="Wistupiku logo"
					/>
				</div>
			</div>
		</div>
		<!-- End main__clients -->
		<div class="main__credentials">
			<div class="credentials__description">
				<h2 class="subTitle">
					Estamos orgullosos del trabajo que realizamos y las
					certificaciones que obtuvimos
				</h2>
				<p class="credentials__description--paragraph">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Earum ea, beatae id impedit mollitia fugit. Quam, esse ad,
					provident sunt voluptate laborum quas ipsa molestias eius
					officia, accusantium ullam enim.
				</p>
				<a href="#" class="button">Saber más</a>
			</div>
			<div class="credentials__data">
				<p>95 certificaciones</p>
				<p>95 certificaciones</p>
				<p>95 certificaciones</p>
			</div>
		</div>
	</main>
</Layout>

<!-- <script>
	const copy = document.querySelector(".slider__container").cloneNode(true);
	document.querySelector(".main__clients--slider").appendChild(copy);
</script> -->

<style>
	.main__clients--slider {
		/* display: flex;
		justify-content: space-between; */
		position: relative;
		margin-top: 3rem;
		background-color: var(--primary);
		overflow: hidden;
	}

	.main__clients--slider::before,
	.main__clients--slider::after {
		position: absolute;
		top: 0;
		width: 30rem;
		height: 100%;
		content: "";
		z-index: 2;
	}

	.main__clients--slider::before {
		left: 0;
		background: linear-gradient(
			to left,
			rgba(255, 255, 255, 0),
			var(--primary)
		);
	}

	.main__clients--slider::after {
		right: 0;
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			var(--primary)
		);
	}

	.slider__container {
		display: flex;
		justify-content: space-between;
		margin: 1rem 0;
		padding: 3rem 0;
		white-space: nowrap;
		animation: slide 15s linear infinite;
	}

	.slider__logo {
		margin: 0 2rem;
		height: 5rem;
		filter: grayscale(100%);
	}

	.main__clients--slider:hover .slider__container {
		animation-play-state: paused;
	}

	@keyframes slide {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	main {
		/* border: 1px solid red; */
		/* height: calc(100vh - 100px); */
	}

	p {
		margin: 0;
	}

	a {
		margin: 0;
	}

	.button {
		display: inline-block;
		width: fit-content;
		border: 1px solid var(--buttonColor);
		border-radius: 5rem;
		padding: 1rem 5rem;
		text-decoration: none;
		color: var(--primary);
		font-size: 2.5rem;
	}

	.subTitle {
		text-align: center;
		font-size: 4rem;
		font-weight: 700;
		color: var(--primary);
		margin: 0;
	}

	.main__title {
		background-image: url(../img/bg02.jpg),
			linear-gradient(
				to left,
				rgba(1, 10, 16, 1) 0%,
				rgba(1, 10, 16, 0) 30%
			),
			linear-gradient(
				to right,
				rgba(1, 10, 16, 1) 0%,
				rgba(1, 10, 16, 0) 30%
			);
		background-position: top right;
		overflow: hidden;
		height: calc(100vh - 100px);
		background-color: rgba(1, 10, 16, 0.5);
		background-blend-mode: color;
	}

	.main__grid--title {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		opacity: 0;
		transform: translateY(100%);
		animation: slideUp 1s forwards;
	}

	.grid__title {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.grid__title .heading {
		margin: 0;
		font-size: 6rem;
		text-align: left;
	}

	.grid__title .button::before {
		content: "▶";
		opacity: 0;
		margin-right: 5px;
	}

	.grid__title .button:hover::before {
		opacity: 1;
	}

	.grid__title .button:hover {
		background-color: var(--buttonColor);
		/* color: var(--bgColor); */
		transition: background-color 0.3s ease;
	}

	.grid__slide {
		align-self: end;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		color: var(--bgColor);
		background-color: var(--primary);
		font-size: 2.5rem;
		font-weight: 700;
		height: auto;
		/* width: 75%; */
		border: 1px solid var(--primary);
		padding: 5%;
	}

	.grid__slide--paragraph span {
		color: var(--buttonColor);
	}

	/* --- Main title --- */
	.main__aboutUs {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* border: 1px solid red; */
		height: 100vh;
		margin: 3rem 0;
	}

	/* .main__aboutUs--title {
		text-align: center;
		font-size: 4rem;
		font-weight: 700;
		color: var(--primary);
		margin: 0;
	} */

	.grid__services {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 4%;
	}

	.grid__services > * {
		border: 1px solid var(--secondary);
		opacity: 0.5;
	}

	.grid__services--container {
		/* display: flex;
		flex-direction: column;
		justify-content: space-evenly; */
		padding: 0 2rem;
		transition: opacity 400ms ease;
		position: relative;
		height: 100%;
	}

	.grid__container--background {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.grid__container--background img {
		width: 100%;
		height: 100%;
		opacity: 0;
		object-fit: cover;
		transition: opacity 300ms ease;
	}

	.grid__container--description {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		z-index: 1;
	}

	.grid__container--icon {
		color: var(--buttonColor);
		font-size: 5rem;
	}

	.grid__container--serviceName {
		font-size: 3rem;
		color: var(--primary);
		font-weight: 400;
	}

	.grid__container--arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 6rem;
		border: 1px solid var(--buttonColor);
		border-radius: 50%;
		transition: background-color 300ms ease;
	}

	.grid__services--container:hover,
	.grid__services--container:hover .grid__container--background img {
		opacity: 1;
	}

	.grid__services--container:hover .grid__container--arrow {
		background-color: var(--buttonColor);
	}

	.grid__container--arrow i {
		text-align: center;
		font-size: 3rem;
		color: var(--primary);
	}

	/* --- main__credentials --- */
	.main__credentials {
		/* border: 1px solid red; */
		height: calc(100vh);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
		margin-top: 5rem;
	}

	.credentials__description {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.credentials__description .subTitle {
		text-align: left;
	}
	.credentials__description--paragraph {
		color: var(--primary);
		font-size: 2rem;
		opacity: 0.7;
	}

	.credentials__data {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 5rem;
		background-color: var(--primary);
	}

	.credentials__data p{
		color: var(--bgColor);
		font-size: 5rem;
		font-weight: 900;
	}

	/* --- Keyframes --- */
	@keyframes slideUp {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
